body {
    background: darkorchid;
    color: black;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif

}

#all-contents {
    max-width: 800px;
    margin: auto;

}

/* navigation menu */
nav {
    background: yellow;
    margin:  0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border: 25px white ridge;
    border-radius: 30px

}

h1 { 
    display:flex;
    align-items: center;
    color: black;
    flex 1;
    margin: 0;
    font-size: 30px
}

#nav-ul {
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex; 
    font-size: 25px
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: black;

}

/* main container area beneath menu */
main {
    background: yellow;
    display: flex;
    margin-top: 20px;
    border: 25px white ridge;
    border-radius: 30px;
}

.sidebar {
    margin-right: 10px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.contents {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 25px  white ridge;
    padding: 8px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 30px
}

h2, h3 {
    margin: 0px;
}
/*Portfolio styles */
.content h1{
    color:black;
}

#portfolio{
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: turquoise;
}

#portfolio a {
    text-decoration: none;
    color: black
}

/* responsize web design */
@media screen and (min-width: 120px)
and (max-width: 1080px) {
    main{
        height: 200ch;
        zoom: 1.5;
        display: grid;
    }
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 44px;
    }
    h3 { font-size: 36px;
    }
    #all-contents {
        height: 100ch;
        margin: none;
    }

    a {
        font-size: 42px;
    }

    .sidebar {
        margin-right: 0
    }
}
